body
{
    background-image: url(../img/ahsok.jpg);
}
a:link {color: red; text-decoration: underline;}
a:visited {color: green; text-decoration: underline;}
a:hover {color: hotpink; text-decoration: underline;}
a:active {color: blue; text-decoration: underline;}

.div1
    {
    border-style: dotted;
    color: rgb(213, 198, 15);
    }
#A
{
    text-decoration: overline;
    text-align: center;
    text-shadow: 3px 2px rgb(4, 2, 155);
}
.div2
{
    border-style: dashed;
    color: #0e0e0e;
}
#B
{
    text-decoration: line-through;
    text-align: center;
    text-shadow: 3px 2px red;
}
.div3
{
    border-style: solid;
    color: rgb(97, 235, 143);
}
#C
{
    text-decoration: underline;
    text-align: center;
    text-shadow: 3px 2px rgb(4, 2, 155);
}
.div4
{
    border-style: double;
    color: rgba(0, 255, 42, 0.219)
}
#D
{
    font-family: "Times New Roman";
    text-decoration: overline;
    text-align: center;
    text-shadow: 3px 2px rgba(33, 153, 203, 0.53);
}
.div5
{
    border-style: groove;
    color: rgb(0, 217, 255)
}
#E
{
    text-decoration: underline;
    text-align: center;
    text-shadow: 3px 2px rgb(214, 97, 235);
}
.div6
{
    border-style: ridge;
    color: rgb(4, 0, 255)
}
#F
{
    text-decoration: line-through;
    text-align: center;
    text-shadow: 3px 2px rgb(138, 19, 19);
}
.div7
{
    border-style: inset;
    color: rgba(195, 0, 255, 0.342)
}
#G
{
    font-family: "Arial";
    text-decoration: unset;
    text-align: center;
    text-shadow: 3px 2px rgba(205, 218, 220, 0.53);
}
.div8
{
    border-style: outset;
    color: rgba(255, 251, 0, 0.856)
}
#H
{
    text-decoration: overline;
    text-align: center;
    text-shadow: 3px 2px rgba(97, 141, 160, 0.53);
}
.div9
{
    border-style: dotted dashed solid double;
    color: rgba(134, 19, 54, 0.486)
}
#I
{
    text-decoration: underline;
    text-align: center;
    text-shadow: 3px 2px rgb(16, 81, 0);
}
.div10
{
    border-style: none;
    color: rgb(255, 255, 255)
}
#J
{
    text-decoration: line-through;
    text-align: center;
    text-shadow: 3px 2px rgba(253, 1, 240, 0.87);
}