div.staticA
{
    position: static;
    border: 3px solid #73AD21;
}
div.relativeB
{
    position: relative;
    left: 150px;
    border: 8px solid #d661eb;
}
div.fixedC
{
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 200px;
    border: 3px solid #eeff00;
}
div.stickyE
{
    position: sticky;
    top: 0;
    background-color: #e60808;
    border: 8px solid rgba(205, 218, 220, 0.53);
}
div.absoluteD
{
    position: absolute;
    width: 400px;
    height: 200px;
    border: 3px solid #04029b;
}